*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        background-image: url("/1.jpg");
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        width: 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(24, 24, 26, 0.374);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 20px 0;
}
header .logo{
    display: flex;
    gap: 10px;
    animation: alaa 2s  ease;
}
@keyframes alaa {
    0%{
        transform: skew(50deg);
    }
}
header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header ul{
    display: flex;
}
header li{
    list-style: none;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
header a:hover{
    color: rgb(5, 8, 98);
}
a:focus{
    color: rgb(23, 22, 24);
}
.main{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: rgba(7, 11, 92, 0.966);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}
.main h1,h2,h3{
    color: rgb(247, 248, 250);
    text-shadow: 2px 2px 8px black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
  
}
.icons i{
    background-color: rgba(249, 250, 253, 0.566);
    border-radius: 50%;
    animation: aloo 3s infinite;
    transition: transform 0.3s, background-color 0.3s;
}
@keyframes aloo{
    0%{
        transform: rotate(360deg);
    }
}
.icons i:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: rotate(360deg);
}
.parent{
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
}
.left{
    text-align: center;
    background-color: rgba(120, 111, 111, 0.41);
    width: 800px;
    height: 550px;
    border-radius: 60px;
    animation: looah 2s ease;
    color: rgba(255, 255, 255, 0.908);
    transition: transform 1s ease;
}
.left:hover{
    transform: translateY(-50px);
}
@keyframes looah{
    0%{
        transform: translateX(-800px);
    }
}
.left img{
    padding: 20px;
    width: 680px;
    height: 450px;
    border-radius: 50px;
}
.left h2{
    font-size: 20px;
    font-weight: bold;
}
.center{
    display: flex;
    font-size: 60px;  
    color: rgba(255, 255, 255, 0.655);
    align-items: center;
    transition: transform 1s ease;
}
.center:hover{
    transform: scale(1.5);
}
.right{
    padding: 50px;
    background-color:  rgba(120, 111, 111, 0.41);
    width: 800px;
    height: 550px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    animation: lolah 2s ease;
    color: rgba(255, 255, 255, 0.908);
    transition: transform 1s ease;
}
.right:hover{
    transform: translateY(-50px);
}
@keyframes lolah{
    0%{
        transform: translateX(800px);
    }
}
.cards{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;

}
.cardsleft{
      animation: looah 2s ease;
      display: flex;
      gap: 20px;
}
.cardsright{
     animation: lolah 2s ease;
     display: flex;
     gap: 20px;
}
.card1{
    background-color: rgba(251, 232, 231, 0.238);
    color: rgba(255, 255, 255, 0.908);
    width: 550px;
    height: 500;
    border-radius: 50px;
    box-shadow: 10px 10px 200px black;
    overflow: hidden;
    transition: transform 1s ease;
}
 .card1:hover{
    transform: translateY(50px);
}
.cards img{
    border-radius: 20px;
    width: 450px;
    height: 400px;
    margin: 10px;
}
.cards p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
button i{
    border-radius: 50%;
    color: black;
}
.cards button{
    width: 120px;
    height: 60px;
    background-image:radial-gradient(circle, rgba(182, 73, 6, 0.979),rgb(239, 135, 7));
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    cursor: pointer;
    border: none;
    border-radius: 20px;
    animation: button 1s ease;
}

@keyframes button{
    0%{
        transform: skew(50deg);
    }
    
}
footer{
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px 0;
}
footer i{
    margin: 0 10px;
    transition: transform 1s ease;
    cursor: progress
}
footer i:hover{
    transform: scale(1.5);
}
.back{
    background-color: rgba(0, 0, 0, 0.158);
}